<html>
	<base target="_parent" />
	<head>
		<title>Folder Properties</title>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	</head>
	<LINK REL="stylesheet" HREF="Styles/Styles-Verint.css" TYPE="text/css" />
	<SCRIPT LANGUAGE="JavaScript" SRC="WebEditor.js"></SCRIPT>
	<script language="JavaScript">
	function goToPart(pkey)	{
		var innerPkey;
		var orgPkey;
		orgPkey=pkey;
		tmpPkey=pkey;
		innerPkey='inner_' + tmpPkey;
		while (innerPkey != '')	{
			obj = top.frames('Index').document.getElementById(innerPkey).style;
			//alert('123' + top.frames('Index').document.getElementById(innerPkey).style.display + '123');
			if (obj.display=='none')	{
				top.frames('Index').Switch(innerPkey,pkey,'IconTypes/Close.gif','IconTypes/Open.gif');
			}
			if (typeof(top.frames('Index').document.all(innerPkey).length) == "undefined")
                    innerPkey = top.frames('Index').document.all(innerPkey).parentElement.id;
            else
                    innerPkey = top.frames('Index').document.all(innerPkey)(0).parentElement.id;
			pkey = innerPkey.substr(6);
			//alert(tmpPkey);
			//alert(pkey);
		}
		orgPkey='inner_' + orgPkey
		if (typeof(top.frames('Index').document.all(orgPkey).length) == "undefined")
			top.frames('Index').document.all(orgPkey).scrollIntoView(false);
		else
			top.frames('Index').document.all(orgPkey)(0).scrollIntoView(false);
	}
	</script>
	<body leftmargin="0" topmargin="0" rightmargin="0" bgcolor="white" onload="JavaScript:changeIframeHeight();" style="overflow:hidden;">
		<TABLE class="ToolBarTable" border="0" cellPadding="0" cellSpacing="5" align="center" height="30">
			<tr align="center">
				<td align="center" class="ToolBarFont" bgcolor="white">
					&nbsp;<img class="ToolBarImage" src="IconTypes/<#PART PROP=ITEM_OBJECT_TYPE#>.gif"/>&nbsp;
				</td>
				<td width="100%" align="left" class="ToolBarFont">&nbsp;&nbsp;<b><#PART PROP=PHEBDESC#></b></td>
				<td width="1" align="right">
					<img alt="Refresh" style="cursor:hand" onclick="JavaScript:document.location.reload();" src="Images/update.ico" />
				</td>
			</tr>
		</TABLE>
		
		<#DOCUMENT_LOOP_BEGIN#>
			<iframe frameborder="0" id="VerintFile" src="<#DOCUMENTPATH#>" width="100%" height="100" style="display:none"></iframe>
		<#DOCUMENT_LOOP_END#>
		<br/><br/>
		<script language=javascript>
		<!--
			function changeIframeHeight()
			{
				var iframeHeight = document.body.offsetHeight-30;
				document.getElementById('VerintFile').height = iframeHeight + 'px';
				document.getElementById('VerintFile').style.display = 'inline';
			}
		//-->
		</script>

	</body>
</html>
