<HTML>
<HEAD>
  <SCRIPT LANGUAGE="JavaScript" SRC="tree.js"></SCRIPT>
  <SCRIPT LANGUAGE="JavaScript" SRC="../SearchPath.js"></SCRIPT>
  <LINK REL="stylesheet" HREF="LinkWare1.css" TYPE="text/css">
  <TITLE>Catalog index page</TITLE>
</HEAD>
<BODY class="BodyIndex" dir="rtl">
  <div align="right">
<table width="100%" height="48" bgcolor="#99cccc" dir="rtl" align="right">
<tr>
  <td></td>
<td>

  <SCRIPT LANGUAGE="JavaScript">
  //Add the correct href acording to the url - local or internet "
  CheckHomeURL();
  </SCRIPT>
  <IMG src="home.jpg" border="0">
  </a>

</td>
  <td></td>
<td>  <div  class="mainCatalog" align="center"> <# CATALOG_NAME #> </div>
</td>

<td width=50><a href="JavaScript:void(0);"><img border=0 src="namaicon.gif" onClick="Javascript:window.open ('Credits.html', 'Credits', 'width=700,height=500,top=40,left=40,resizeable=0,menubar=no,alwaysRaised,dependent');"></a></td>
</tr></table>
<div class="underLine"><br><br><br></div>

  <# TOC MAXROWCOUNT=12 #>
  </div>
</table>
<div class="underLine"></div>
</body>
</html>
