<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1255">
<SCRIPT LANGUAGE="JavaScript1.2" SRC="cookutil.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript1.2" SRC="srcpath.js"></SCRIPT>
 <SCRIPT LANGUAGE="javascript" SRC="../SearchPath.js"></SCRIPT>
<script language="JavaScript">
<!--
var bFinishedLoading=false;
document.write("<frameset onLoad='javascript:bFinishedLoading=true;' rows=");
var r;
r = getCookie('_row_ratio');
if (r==null) r="14%,*";
document.write("'" + r + "'>");

document.write("<frame  style='border:1px solid black' name='Header' src=");
var pg = <# FRAME SOURCE_FILE=header1.xml ENCAPS=' #>;
document.write(pg);
document.write(" marginwidth='0' marginheight='0' scrolling='no' >");
document.write("<frameset id='inr_frmst' frameborder='0' cols=");
r="100%,*";
document.write("'" + r + "'>");
//-->
</script>
<!-- frame for the Index.xml mast be called "Index" -->
<frameset id='inr_frmst1' frameborder='0' rows="18,*">
	     <frame  name="statusbar" src=<#FRAME SOURCE_FILE=statusText.htm#>  marginwidth="0" marginheight="0" scrolling="no" frameborder="0">
		 
         <frame style="border:1px solid black" name="Parts Map" src=<#FRAME SOURCE_FILE=left1.html#> marginwidth="0" marginheight="0" scrolling="auto" frameborder="0">
		</frameset>
        <frame style="border:1px solid black" name="Parts Table" src=<#FRAME SOURCE_FILE=right1.xml#> marginwidth="0" marginheight="0" scrolling="auto" frameborder="0">
    </frameset>
</frameset>
</head></html>