<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><#PART_DATA PROP_NUM=2#></title>
<SCRIPT LANGUAGE="JavaScript1.2" SRC="cookutil.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript1.2" SRC="srcpath.js"></SCRIPT>
 <SCRIPT LANGUAGE="javascript" SRC="../SearchPath.js"></SCRIPT>
<script language="JavaScript">
<!--
var bFinishedLoading=false;
document.write("<frameset onLoad='javascript:bFinishedLoading=true;' rows=");
var r;
r = getCookie('_row_ratio');
if (r==null) r="70,*";
document.write("'" + r + "'>");

document.write("<frame style='border:1px solid black' name='Header' src=");
var pg = <# FRAME SOURCE_FILE=header.xml ENCAPS=' #>;
document.write(pg);
document.write(" marginwidth='0' marginheight='0' scrolling='no' frameborder='0'>");
document.write("<frameset id='inr_frmst' cols=");
var r;
r = getCookie('_col_ratio');
if (r==null) r="65%,*";
document.write("'" + r + "'>");
//-->
</script>
<!-- frame for the Index.xml mast be called "Index" -->
<frameset id='inr_frmst1' frameborder='0' rows="18,*">
		<frame  name="statusbar" src=<#FRAME SOURCE_FILE=status.htm#>  marginwidth="0" marginheight="0" scrolling="no" frameborder="0">
        <frame name="Parts Map" src=<#FRAME SOURCE_FILE=left.html#> marginwidth="0" marginheight="0" scrolling="auto" frameborder="0">
        </frameset>
		<frame name="Parts Table" src=<#FRAME SOURCE_FILE=rightKleyAvodaMerkava.xml#> marginwidth="0" marginheight="0" scrolling="auto" frameborder="0">
    </frameset>
</frameset>
</head></html>