<HTML style="margin-top:0;">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >

<table width="800"  height="33" cellspacing="0" ID="Table4" style="margin-top:10;" align="center" dir="ltr">
		<tr>
		<td style="color:#587088;font-size:11px;font-family:Tahoma;" align="left" id="welcomuser" name="welcomuser"></td>
		<script>
		
			if ('<#UserLogon#>' != '')
				welcomuser.innerHTML = 'Welcome ' + '<#UserLogon#>';
				
		</script>
	<td align="right" >
	<form method="post" name="searchbox" action="" ID="Form1"> 
      <a href="ShowTemplate.aspx?Template=index_General_E.xml&Pkey=LWWEa134431&Type=1" title="Site Map" style="border:1px solid #587088;text-decoration:none;background:white;width:60px;height:5px">
		<span style="color:#587088;font-size:11px;font-family:Tahoma;">&nbsp;מפת אתר&nbsp;</span>
	 </a> &nbsp;&nbsp;
	 <a href="Showtemplate.aspx?Template=SiteForm.html&Pkey=135463a18&Type=10&ParentKey=135463a4&PkeyCatalog=LWWEa134431" title="Contact Us" style="border:1px solid #587088;text-decoration:none;background:white;width:60px;height:5px">
		<span style="color:#587088;font-size:11px;font-family:Tahoma;">&nbsp;צור קשר&nbsp;</span>
	 </a> &nbsp;&nbsp;
	 <a href="" title="Find it." style="border:1px solid #587088;text-decoration:none;background:white;width:40px;height:5px">
			  <span style="color:#587088;font-size:11px;font-family:Tahoma;">&nbsp;חפש&nbsp;</span>
			</a>&nbsp;
      <input style="height:20px" type="text" size="13"/> 
      <span style="color:#587088;font-size:11px;font-family:Tahoma;">:חיפוש</span>
	</form>
				
				</td>
				<td valign=top align="right" width="70">
						<img onclick="document.location.href = 'ShowTemplate.aspx?Template=SiteHome.html&Pkey=LWWEa134432&ParentKey=&Type=10&PkeyCatalog=LWWEa134431'" height="33" width="58" src="Images/mckitgrey.jpg" align=top style="cursor:hand;"></img>
				</td>
		</tr>
</table>


<BODY><#SITE_HEADER FILENAME=SiteHeader.html#> 
	
	<table style="MARGIN-TOP:40px" align="center" width="800" height="600" ID="Table1" dir="<#PART PROP=PPROP3#>">
		
		<tr>
			<td width="100%" height="65" colspan="2">
			<table width="100%" height="65" cellpadding="0" cellspacing="0" ID="Table14">
			<tr>
				<td width="3" height="65" bgcolor="#d9e1e6">&nbsp;</td>
				<td id="itemheader2" width="50%" height="65" bgcolor="#d9e1e6"><font face="Arial" size="5" color="black" style="FONT-WEIGHT:bold" dir="<#PART PROP=PPROP3#>"><#PART PROP=PHEBDESC#></font></td>
				<td id="itemheader" width="50%" height="65" bgcolor="#d9e1e6"><img id="headerimage" height="65"/></td>
			</tr>
			</table>
			</td>
			<script>
			var docpath = "";
			var docpathparent = "";
			var i=0;
			<#DOCUMENT_LOOP_BEGIN#>
				if ('<#DOCUMENTOBJECTTYPE#>' == 'HeaderImage1')
					docpath = '<#DOCUMENTPATH#>';
					
			<#DOCUMENT_LOOP_END#>
			

				<#PARENT_PART_BEGIN#>
				<#DOCUMENT_LOOP_BEGIN#>
					if ('<#DOCUMENTOBJECTTYPE#>' == 'HeaderImage1')
						docpathparent = '<#DOCUMENTPATH#>';
					
				<#DOCUMENT_LOOP_END#>
				<#PARENT_PART_END#>
			
				if (docpath == "" && docpathparent != "")
					headerimage.src = docpathparent;
				else
				{
					if (docpath != '')
						headerimage.src = docpath;
					else
						headerimage.src = 'IconTypes/emptyspace.gif';
				}
				
				if ('<#PART PROP=PPROP3#>' == 'rtl')
					headerimage.align='left';
				else
					headerimage.align='right';
					
			</script>
		</tr>
		<tr valign=top>
			<td width="20%" align="right" bgcolor="#c9d3e0">
			
			<script>
				var currentItem = '<#PKEY#>';
			</script>
			
			<table border="0" cellspacing="5" ID="Table2" width="100%">
				<#PARENT_PART_BEGIN#>
				<tr>
					<td dir="<#PART PROP=PPROP3#>" nowrap><font face="Arial" color="black"><a href="Showtemplate.aspx?Template=<#TEMPLATENAME#>&Pkey=<#PKEY#>&Type=10&ParentKey=<#PARENTKEY#>&PkeyCatalog=<#PKEYCATALOG#>" style="text-decoration:none;font-size:14;font-weight:bold;color:#00358d" onmouseover="this.style.textDecoration='underline'" onmouseout="this.style.textDecoration='none'"><#PART PROP=PHEBDESC#></a></font><hr style="color:white"></td>
				</tr>
				<#PARTS_LOOP_BEGIN#>
				<tr>
					<td dir="<#PART PROP=PPROP3#>" nowrap><font face="Arial" color="black"><a href="Showtemplate.aspx?Template=<#TEMPLATENAME#>&Pkey=<#PKEY#>&Type=10&ParentKey=<#PARENTKEY#>&PkeyCatalog=<#PKEYCATALOG#>" style="text-decoration:none;font-size:13;color:#00358d" onmouseover="this.style.textDecoration='underline'" onmouseout="this.style.textDecoration='none'"><#PART PROP=PHEBDESC#></a></font></td>
				</tr>
				<#PARTS_LOOP_END#>
				<#PARENT_PART_END#>
			</table>
			</td>
			<td width="80%" align=right height="100%">
			<font face="Arial" size="small" color="black">
			<table align="center" width="100%" ID="Table3" border="0">
					<tr>
						<td width="20">&nbsp;</td>
						<td width="100%">
						<form method="post" name="formCreateUser" action="../AddUser.aspx" ID="formCreateUser" onsubmit="JavaScript:return verifyForm();"> 
							<table ID="Table13" width="100%" border="0">
								<tr>
									<td colspan="3"><br/><u><span id="Message">אנא מלא את הפרטים הבאים:</span></u>	<br/>
									<br/></td>
								</tr>
								<tr>
									<td align="right" width="100"> שם משתמש:</td>
									<td align="right"><input style="height:25px" type="text" value="" id="PUSERNAME" name="PUSERNAME" size="50"/></td>
									<td width="150"></td>
								</tr>
								<tr>
									<td align="right" width="100"> סיסמא:</td>
									<td align="right"><input style="height:25px" type="password" value="" id="PUSERPASSWORD" name="PUSERPASSWORD" size="50"/></td>
									<td width="150"></td>
								</tr>
								<tr>
									<td align="right" width="100"> אימות סיסמא:</td>
									<td align="right"><input style="height:25px" type="password" value="" id="PUSERPASSWORDVERIFICATION" name="PUSERPASSWORDVERIFICATION" size="50"/></td>
									<td width="150"></td>
								</tr>
								<tr>
									<td align="right"> שם פרטי:</td>
									<td align="right"><input style="height:25px" type="text" value="" id="PUSERFIRSTNAME" name="PUSERFIRSTNAME" size="50"/></td>
									<td ></td>
								</tr>
								<tr>
									<td align="right"> שם משפחה</td>
									<td align="right"><input style="height:25px" type="text" value="" id="PUSERLASTNAME" name="PUSERLASTNAME" size="50"/></td>
									<td ></td>
								</tr>
								<tr>
									<td align="right"> מין:</td>
									<td align="right"><input style="height:25px" type="text" value="" id="PUSERGENDER" name="PUSERGENDER" size="50"/></td>
									<td ></td>
								</tr>
								<tr>
									<td align="right"> טלפון:</td>
									<td align="right"><input style="height:25px" type="text" value="" id="PUSERHONE" name="PUSERPHONE" size="50"/></td>
									<td ></td>
								</tr>
								<tr>
									<td align="right"> נייד:</td>
									<td align="right"><input style="height:25px" type="text" value="" id="PUSERMOBILE" name="PUSERMOBILE" size="50"/></td>
									<td ></td>
								</tr>
								<tr>
									<td align="right">חברה:</td>
									<td align="right"><input style="height:25px" type="text" value="" id="PUSERCOMPANY" name="PUSERCOMPANY"  size="50"/></td>
									<td ></td>
								</tr>
								<tr>
									<td align="right">דואר:</td>
									<td align="right"><input style="height:25px" type="text" value="" id="PUSEREMAIL" name="PUSEREMAIL"   size="50"/></td>
									<td ></td>
								</tr>
								<tr>
									<td align="right">תפקיד:</td>
									<td align="right"><input style="height:25px" type="text" value="" id="PUSERPROFSSION" name="PUSERPROFSSION"  size="50"/></td>
									<td ></td>
								</tr>
								
								<tr>
									<td align="right" valign="top">הערה:</td>
									<td align="right"><textarea cols="39" rows="5" id="PUSERCOMMENTS" name="PUSERCOMMENTS"></textarea></td>
									<td ></td>
								</tr>
								<tr>
									
									<td align="center" colspan="2"><input style="height:25px;width:70px" type="submit" value="שלח" id="btnCreateUser" NAME="btnCreateUser"/></td>
									<td ></td>
								</tr>
							</table>
						</form>
					</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td colspan="2" width="100%" height="10" align="right" bgcolor="#093862">
					<table align="center" width="100%" height="20" ID="Table10" border="0" cellpadding="0" cellspacing="0"  bgcolor="#093862" dir="ltr">
					<tr>
						<td colspan="3" align="center"><font face="Arial" size="2" color="white">מקיט מערכות בע"מ</font>
						</td>
					</tr>
					<tr>
						<td align="left"><font face="Arial" size="1" color="white">7 Martin Gahl st. P.O.Box 7131, Kiryat-Arie Petach-Tikva 49250, Israel</font>
						</td>
						<td align="center"><font face="Arial" size="1" color="white">tel: 03-9278555 :טל</font>
						</td>
						<td align="right"><font face="Arial" size="1" color="white">רחוב מרטין גהל 7, ת.ד 7131 קרית-אריה, פתח תקווה, 49250</font>
						</td>
					</tr>
					</table>
			</td>
		</tr>
	</table>
	<script language=javascript>
	<!--
		function verifyForm()
		{
			if (document.getElementById('PUSERNAME').value=="")
			{
				alert('אנא הקלד שם משתמש.');
				document.getElementById('PUSERNAME').focus();
				return false;
			}
			
			if (document.getElementById('PUSERPASSWORD').value=="")
			{
				alert('אנא הקלד סיסמא.');
				document.getElementById('PUSERPASSWORD').focus();
				return false;
			}

			if (document.getElementById('PUSERPASSWORDVERIFICATION').value!=document.getElementById('PUSERPASSWORD').value)
			{
				alert('אימות הסיסמא שגוי.');
				document.getElementById('PUSERPASSWORDVERIFICATION').focus();
				return false;
			}

			if (document.getElementById('PUSERGENDER').value=="")
			{
				alert('אנא הקלד את מינך.');
				document.getElementById('PUSERGENDER').focus();
				return false;
			}

			if (document.getElementById('PUSERFIRSTNAME').value=="")
			{
				alert('אנא הקלד שם פרטי.');
				document.getElementById('PUSERFIRSTNAME').focus();
				return false;
			}

			if (document.getElementById('PUSERLASTNAME').value=="")
			{
				alert('אנא הקלד שם משפחה.');
				document.getElementById('PUSERLASTNAME').focus();
				return false;
			}

			if (document.getElementById('PUSERPHONE').value=="")
			{
				alert('אנא הקלד מספר טלפון.');
				document.getElementById('PUSERPHONE').focus();
				return false;
			}

			if (document.getElementById('PUSERMOBILE').value=="")
			{
				alert('אנא הקלד מספר טלפון סלולרי.');
				document.getElementById('PUSERMOBILE').focus();
				return false;
			}

			if (document.getElementById('PUSERCOMPANY').value=="")
			{
				alert('אנא הקלד שם חברה.');
				document.getElementById('PUSERCOMPANY').focus();
				return false;
			}

			if (document.getElementById('PUSEREMAIL').value=="")
			{
				alert('אנא הקלד כתובת דואר אלקטרוני.');
				document.getElementById('PUSEREMAIL').focus();
				return false;
			}

			if (document.getElementById('PUSERPROFSSION').value=="")
			{
				alert('אנא הקלד את תפקידך.');
				document.getElementById('PUSERPROFSSION').focus();
				return false;
			}
			
			/*if (document.getElementById('PUSERCOMMENTS').value=="")
			{
				alert('אנא הקלד הערות.');
				document.getElementById('PUSERCOMMENTS').focus();
				return false;
			}*/
			return true;
		}
		
		//if user already exist.
		function getParameter( parameterName ) {
		var queryString = window.location.search.substring(1).toLowerCase();
		//alert(queryString);
		//if (queryString.length==0) {return "null";}
		var parameters = new Array();
		parameters = queryString.split('&');
		for(var i = 0; i < parameters.length; i++) {
			//alert(parameters[i]);
			//alert(parameters[i].indexOf(parameterName));
			if (parameters[i].indexOf(parameterName.toLowerCase())>=0) {
			//alert(parameters[i]);
			var parameterValue = new Array();
			parameterValue = parameters[i].split('=');
			return parameterValue[1];
			}
		}
		return "null";
		}

		if (getParameter('UserName')!="null")
		{
			document.getElementById('PUSERNAME').value = getParameter('PUSERNAME')
			document.getElementById('PUSERGENDER').value = getParameter('PUSERGENDER')
			document.getElementById('PUSERFIRSTNAME').value = getParameter('PUSERFIRSTNAME')
			document.getElementById('PUSERLASTNAME').value = getParameter('PUSERLASTNAME')
			document.getElementById('PUSERPHONE').value = getParameter('PUSERPHONE')
			document.getElementById('PUSERMOBILE').value = getParameter('PUSERMOBILE')
			document.getElementById('PUSERCOMPANY').value = getParameter('PUSERCOMPANY')
			document.getElementById('PUSEREMAIL').value = getParameter('PUSEREMAIL')
			document.getElementById('PUSERPROFSSION').value = getParameter('PUSERPROFSSION')
			document.getElementById('PUSERCOMMENTS').innerHTML = getParameter('PUSERCOMMENTS')
			document.getElementById('Message').innerHTML = 'שם המשתמש כבר קיים במערכת. אנא בחר שם משתמש אחר:'
		}
			
	//-->
	</script>

	</br>
	</br>
	
<TABLE border="0" cellPadding="0" cellSpacing="5" ID="EditorToolbar" align="center" bgcolor="#c9d3e0">
<tr align="center">
	<td align=center colspan=3 >
		<b>Page Options:</b>
	</td>
</tr>
<tr>
	<td colspan="3" align="center">
		<TABLE  cellpadding="0" cellspacing="0"  border="1" ID="Table5">
			<TR>
					<!-- XXXXXXXXXXXXXXXX       Text Obj      XXXXXXXXXXXXXXX -->
				<td onClick="JavaScript:AddObj('Site_New_Text_E.xsl');void(0);" target="_self"  bgcolor="#C0C0C0" title="Add Text Object" onmouseover="JavaScript:this.style.cursor='hand';">
					<table width=100% cellspacing="2" cellpadding="2"   ID="Table19">
						<tr>
							<td nowrap="yes" width="50%">
								<a target="_self" title="Add Text Object">
									<img  src="Images/newtext.ico" alt="Add Text Object"  />
								</a>
								<a  target="_self" title="Add Text Object"> &#160; New Text</script></a>
							</td>
						</tr>
					</table>
				</td>
				
			<!-- XXXXXXXXXXXXXXXXXX    Edit Text      XXXXXXXXXXXXXXXXXXXX -->
		<td  onClick="JavaScript:EditText('Edittext','Site_Edit_Text_E.xsl');void(0);" target="_self" title="Edit Text" bgcolor="#C0C0C0" onmouseover="JavaScript:this.style.cursor='hand'">
			<table  width=100% cellspacing="2" cellpadding="2" border="0"  ID="Table21">
				<tr>
					<td nowrap="yes">
						<a target="_self" title="EditText">
							<img src="Images/edittext.gif" width="17" height="16" alt="Edit Text Objects" />
						</a>
						<a  target="_self" title="Edit Text">&#160; Edit Text</a>
					</td>
				</tr>
			</table>
		</td>
		
				<!-- XXXXXXXXXXXXXXXXXX    Delete Text      XXXXXXXXXXXXXXXXXXXX -->
		<td onClick="JavaScript:EditText('Deltext');void(0);" target="_self" title="Delete Text" bgcolor="#C0C0C0" onmouseover="JavaScript:this.style.cursor='hand'">
			<table  width=100% cellspacing="2" cellpadding="2" border="0"  ID="Table23" >
				<tr>
					<td nowrap="yes">
						<a target="_self" title="EditText">
							<img src="Images/deltext.gif" width="17" height="16" alt="Delete Text Objects" />
						</a>
						<a target="_self" title="Delete Text">&#160; Delete Text</a>
					</td>
				</tr>
			</table>
		</td>
		
		<!-- XXXXXXXXXXXXXXXX       New Doc      XXXXXXXXXXXXXXX -->
		<td  onClick="JavaScript:AddObj('Site_New_File.xsl');void(0);" target="_self" bgcolor="#C0C0C0" title="New Document" onmouseover="JavaScript:this.style.cursor='hand'">
			<table width=100% cellspacing="2" cellpadding="2"   ID="ItemNewDoc" >
				<tr>
					<td nowrap="yes">
						<a target="_self">
							<img src="WEImages/newdoc.gif" />
						</a>
						<a target="_self">&#160;New file </a>
					</td>
				</tr>
			</table>
		</td>
								<!-- XXXXXXXXXXXXXXXX       Edit      XXXXXXXXXXXXXXX -->
		<td onClick="JavaScript:UpdateObj('T_CAT_WINOBJECT','Site_Edit_File.xsl');void(0)" target="_self" title="Edit" bgcolor="#C0C0C0" onmouseover="JavaScript:this.style.cursor='hand'">
			<table  width=100% cellspacing="2" cellpadding="2" border="0"  ID="ItemEdit">
				<tr>
					<td nowrap="yes">
						<a target="_self" >
							<img src="WEImages/editgrid.gif"/>
						</a>
						<a target="_self" >&#160;Edit File </a>
					</td>
				</tr>
			</table>
		</td>
		<!-- XXXXXXXXXXXXXXXXXX    Delete      XXXXXXXXXXXXXXXXXXXX -->
		<td onClick="JavaScript:DelObj();void(0);" target="_self" title="Delete" bgcolor="#C0C0C0" onmouseover="JavaScript:this.style.cursor='hand'">
			<table  width=100% cellspacing="2" cellpadding="2" border="0"  ID="ItemDelete">
				<tr>
					<td nowrap="yes">
						<a target="_self" >
							<img src="WEImages/delete.gif"  />
						</a>
						<a  target="_self" >&#160;Delete file </a>
					</td>
				</tr>
			</table>
		</td>
				</tr>
				</table>
				</td>
				</tr>
				
	<tr>
	<td colspan="3">
		<TABLE  width=100% border="0" cellPadding="2" cellSpacing="0" bgcolor="white"  ID="Table6">
			<tr >
				<td></td>
				<td></td>
				<td>Name</td>
				<td></td>
				<td><nobr>Modified Date</nobr></td>
				<td><nobr>Created Date</nobr></td>
				<td>Language</td>
				<td>Info</td>
			</tr>
				<#DOCUMENT_LOOP_BEGIN#>
					<tr onmouseover="this.style.backgroundColor='#EFEFEB'" onmouseout="this.style.backgroundColor='white'">
					<input type="hidden" ID="Hidden1" name="<#DOCUMENTSYSTTEMID#>_PDOCID" value="<#DOCUMENTNUMBER#>"></input>
					<td class="ToolBarTableSubHeader" width="1">
						<INPUT type="checkbox" id="Document" NAME="<#DOCUMENTSYSTEMID#>"></INPUT>
					</td>
					<td><img src= "IconTypes/<#DOCUMENTOBJECTTYPE#>.gif"></img>
					</td>
					<td >&nbsp;<A HREF = "<#DOCUMENTPATH#>" target="_blank"><#DOCUMENTNAME#></A>&nbsp;</td>
					<td width="1"><img id="statimg_<#PKEY#>" " src="" alt="<#PART PROP=STATUSNAME#>"></img></td>
					<script>
						if ('<#PART PROP=STATUSNAME#>' != '')
							 document.getElementById('statimg_<#PKEY#>').src='IconTypes/<#PART PROP=STATUSNAME#>.gif';
						 else
						 {
							 document.getElementById('statimg_<#PKEY#>').src='IconTypes/na.gif';
							 document.getElementById('statimg_<#PKEY#>').alt='Not Set';
						 }
					</script>
					<td >&nbsp;<#DOCUMENTMODIFIEDATE#>&nbsp;</td>
					<td >&nbsp;<#DOCUMENTCREATEDATE#>&nbsp;</td>
					<td width="1"><img id="langimgd_<#PKEY#>" src="" alt="<#PART PROP=PPROP10#>"/>&#160;</td>
					<script>
						if ('<#PART PROP=PPROP10#>' != '')
							 document.getElementById('langimgd_<#PKEY#>').src='IconTypes/<#PART PROP=PPROP10#>.gif';
						 else
							 document.getElementById('langimgd_<#PKEY#>').src='IconTypes/emptyspace.gif';
					</script>
					<td width="1"><a href="javascript:InfoObj('<#PART PROP=PKEY#>','Info_WinObject_General_E.xsl');void(0);" target="_self"><img id="InfoImage<#DOCUMENTSYSTTEMID#>" border="0" src="IconTypes/info1.gif"/>&#160;</a></td>
					</tr>
				<#DOCUMENT_LOOP_END#>
		</table>
	</td>
</tr>
<tr align="center" id="itemMenuH">
	<td align=center colspan=3 >
		<b>Sub Menu Options:</b>
	</td>
</tr>
<tr id="itemMenu">
<td colspan="3" align="center">
		<TABLE  cellpadding="0" cellspacing="0"  border="1" ID="Table12">
		<tr>
				<!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX   New XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX   -->
						<td  onClick="JavaScript:AddObj('Site_New_Item.xsl');void(0);" target="_self" title="New Item" bgcolor="#C0C0C0" onmouseover="JavaScript:this.style.cursor='hand'"> 
								<table width="100%" cellspacing="2" cellpadding="2" ID="Table8">
									<tr>
										<td nowrap="yes">
											<a >
												<img src="WEImages/newdoc.gif"  border="0" width="16" height="16"/>
											</a>
											<a > &#160;New</a>
										</td>
									</tr>
								</table>
						</td>
						
						<!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX   Edit XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX   -->
						<td  target="_self" title="Edit" onClick="JavaScript:UpdateObj('T_CAT_PART','Site_Edit_Item.xsl');void(0);" bgcolor="#C0C0C0" onmouseover="JavaScript:this.style.cursor='hand'"> 
								<table width="100%" cellspacing="2" cellpadding="2"  ID="Table9">
									<tr>
										<td nowrap="yes">
											<a>
												<img src="WEImages/editgrid.gif" border="0" width="16" height="16"/>
											</a>
											<a >&#160; Edit</a>
										</td>
									</tr>
								</table>
						</td>
						<!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX   Delete XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX   -->
						<td  onClick="JavaScript:DelObj();void(0);"  target="_self" title="Delete" bgcolor="#C0C0C0" onmouseover="JavaScript:this.style.cursor='hand'">
								<table width="100%" cellspacing="2" cellpadding="2" onload="glow(false, this);"  ID="Table11">
									<tr>
										<td nowrap="yes">
											<a>
												<img src="WEImages/delete.gif" border="0" width="16" height="16"/>
											</a>
											<a class="ToolBarFont"> &#160;Delete</a>
										</td>
									</tr>
								</table>
						</td>

					<!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX   Reorder XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX   -->
					<td  onClick="JavaScript:ReOrderObj(0);void(0);" target="_self" title="ReOrder" bgcolor="#C0C0C0" onmouseover="JavaScript:this.style.cursor='hand'">
						<table width="100%" cellspacing="2" cellpadding="2" ID="Table17" >
							<tr >
								<td nowrap="yes">
									<a >
										<img src="WEImages/reorder.gif" border="0" width="16" height="16"/>
									</a>
									<a >&#160;ReOrder</a>
								</td>
							</tr>
						</table>
					</td>
					
					<!-- XXXXXXXXXXXXXXXX       Edit      XXXXXXXXXXXXXXX -->
		<td width="20" style="border:0px none">&nbsp;</td>
		<td onClick="JavaScript:UpdateObj('T_CAT_PART','Site_Edit_Item.xsl',true);void(0);" target="_self" title="Edit" bgcolor="#C0C0C0" onmouseover="JavaScript:this.style.cursor='hand'">
			<table  width=100% cellspacing="2" cellpadding="2" border="0"  ID="Table16" >
				<tr>
					<td nowrap="yes">
						<a >
							<img src="WEImages/editgrid.gif" class="ToolBarImage" />
						</a>
						<a  class="ToolBarFont" >&#160; Edit Current</a>
					</td>
				</tr>
			</table>
		</td>
</tr>
</table>
</td>
</tr>

	<tr id="itemMenuC">
	<td colspan="3">
		<TABLE  width=100% border="0" cellPadding="2" cellSpacing="0" bgcolor="white"  ID="Table7">
			<tr >
				<td></td>
				<td></td>
				<td>Name</td>
				<td></td>
				<td><nobr>Modified Date</nobr></td>
				<td><nobr>Created Date</nobr></td>
				<td>Language</td>
				<td>Info</td>
			</tr>
				<#PARTS_LOOP_BEGIN TYPE= ITEMS= #>
					<tr onmouseover="this.style.backgroundColor='#EFEFEB'" onmouseout="this.style.backgroundColor='white'">
					<td class="ToolBarTableSubHeader" width="1">
						<INPUT type="checkbox" id="PDItem" NAME="<#PKEY#>"></INPUT>
					</td>
					<td><img src= "IconTypes/<#PART PROP=ITEM_OBJECT_TYPE#>.gif"></img>
					</td>
					<td >&nbsp;<A HREF = "" target="_blank"><#PART PROP=PHEBDESC#></A>&nbsp;</td>
					<td width="1"><img id="statimgi_<#PKEY#>" src="" alt="<#PART PROP=STATUSNAME#>"></img></td>
					<script>
						if ('<#PART PROP=STATUSNAME#>' != '')
							 document.getElementById('statimgi_<#PKEY#>').src='IconTypes/<#PART PROP=STATUSNAME#>.gif';
						 else
						 {
							 document.getElementById('statimgi_<#PKEY#>').src='IconTypes/na.gif';
							 document.getElementById('statimgi_<#PKEY#>').alt='Not Set';
						 }
					</script>
					<td >&nbsp;<#PART PROP=PUPDATEDATE#>&nbsp;</td>
					<td >&nbsp;<#PART PROP=PCREATEDATE#>&nbsp;</td>
					<td width="1"><img id="langimg_<#PKEY#>" src="" alt="<#PART PROP=PPROP10#>"/>&#160;</td>
					<script>
						if ('<#PART PROP=PPROP10#>' != '')
							 document.getElementById('langimg_<#PKEY#>').src='IconTypes/<#PART PROP=PPROP10#>.gif';
						 else
							 document.getElementById('langimg_<#PKEY#>').src='IconTypes/emptyspace.gif';
					</script>
					<td width="1"><a href="javascript:InfoObj('<#PART PROP=PKEY#>','Info_General_E.xsl');void(0);" target="_self"><img id="Img2" border="0" src="IconTypes/info1.gif"/>&#160;</a></td>
					</tr>
				<#PARTS_LOOP_END#>
		</table>
	</td>
</tr>

</table>

<script language="javascript">
	//hide buttons
	itemMenuH.style.display='none';
	itemMenu.style.display='none';
	itemMenuC.style.display='none';
	if ('<#ACLPermissionsName#>'=='Administrator')	{
		EditorToolbar.style.display='';
		itemMenuH.style.display='';
		itemMenu.style.display='';
		itemMenuC.style.display='';
		}
	else
	{
	EditorToolbar.style.display='none';
	itemMenuH.style.display='none';
	itemMenu.style.display='none';
	itemMenuC.style.display='none';
	}


</script>

	
</BODY></HTML>
