<html topmargin="0"><body>
<table cellspacing="0" cellpadding="0" style=";font-family:arial;background-color:yellow;width:100%" dir="rtl" >
<tr><td>
<div >
<font style="COLOR:#6588CF;FONT-SIZE:14px;FONT-WEIGHT:800;FONT-FAMILY:Arial;">אט"ל-ספר אחזקה</font>
<font style="COLOR:RED;FONT-SIZE:14px;FONT-WEIGHT:800;FONT-FAMILY:Arial;"></font>
															
</div>
</td><td width="50%">
<div style="width:100%;text-align:center;font-family:arial;background-color:yellow" id="textDiv" name="textDiv">&nbsp;
</div>
</td></tr></table>
</body></html>