<html>
<head>
<title>Please Wait</title>
<script language="javascript" src="xp_progress.js">
</script>
<LINK REL="stylesheet" HREF="Styles/Styles-SteelBlue.css" TYPE="text/css" />		
</head>
<body onunload="return false;" onload="JavaScript:bIsNotFinish=false">
<script language=javascript>
<!--
	var bIsNotFinish = true;
//-->
</script>

<table border="0" width="300">
	<tr>
		<td>
			<font style="FONT-SIZE:13px;COLOR:blue;"><b>Please Wait......</b></Font>
		</td>
	</tr>
	<tr>
		<td>
			<script>
				var bar1= createBar(300,15,'white',1,'black','blue',85,7,3,"");
			</script>
		</td>
	</tr>
</table>
</body>
</html>